$smartphone: 480px;
$tablets: 728px;
$desktop: 1024px;
@media screen and (max-width: $smartphone) {
    .patrocinador2 {
        margin-left: 5rem;
    }
    .patrocinador2 p {
        margin-right: 2rem;
    }
    .section1MainStore {
        flex-direction: column;
        justify-content: space-around;
    }
    .sect1-4MainStore {
        width: 100%;
        height: auto;
        margin: 4rem auto;
    }
    .formLogin {
        width: auto;
        height: auto;
        padding: 2rem 2rem 2rem;
    }
    .login4 {
        width: 10%;
    }
    .password,
    .password1 {
        width: 100%;
    }
    .containEmail {
        width: auto;
    }
    .medidor {
        width: auto;
    }
    .containCP {
        width: auto;
        margin-top: 0;
    }
    .totalParcial2 {
        margin-left: 0;
        margin-bottom: 1rem;
        padding: 2rem;
        height: auto;
    }
    .buttonContinuar3-1 {
        margin-left: 2rem;
        width: 10rem;
        margin-bottom: 2rem;
    }
    .buttonContinuar3 {
        margin-left: 4rem;
        width: 10rem;
        margin-bottom: 2rem;
    }
}