    $smartphone: 480px;
    $tablets: 728px;
    $desktop: 1024px;
    @media screen and (max-width: $smartphone) {
        .totalParcial2 {
            width: 100%;
            margin-left: 0;
            margin-bottom: 3rem;
        }
        .resumenPedido {
            width: 100%;
        }
        .totalSection2 {
            width: auto;
        }
    }