<!-- HEADER  HEADER  HEADER  HEADER  HEADER  HEADER  HEADER  HEADER  -->

<app-store-header></app-store-header>

<!-- MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN  -->

<div class="patrocinador2">
    <p>INFORMACIÓN PERSONAL</p>
    <p>RESUMEN DEL PEDIDO</p>
</div>
<main class="mainStore">
    <section class="section1MainStore">
        <section class="sect1-2MainStore">
            <form [formGroup]="form" class="formPerson" (ngSubmit)="proccessInfo()">
                <input type="text" formControlName="Name" required name="Nombre" placeholder="Nombre" />
                <input type="tel" formControlName="phone" required name="Teléfono" placeholder="Telefono móvil" />
                <input type="text" formControlName="lastName" required name="Apellido" placeholder="Apellido" />
                <input type="text" formControlName="email" required name="Correo electrónico" placeholder="Correo electronico" />
                <button class="sectButton" type="submit" [disabled]="form.invalid">Seguir</button>
            </form>
        </section>

        <!-- SEGUNDO CUADRO  SEGUNDO CUADRO  SEGUNDO CUADRO  SEGUNDO CUADRO  SEGUNDO CUADRO  SEGUNDO CUADRO  -->

        <app-resume-order></app-resume-order>
    </section>
</main>