$smartphone: 480px;
$tablets: 728px;
$desktop: 1024px;
@media screen and (max-width: $smartphone) {
    .section1MainStore {
        flex-direction: column;
        justify-content: space-around;
    }
    .sect1MainStore {
        flex-direction: column;
        width: 40rem;
        height: 25rem;
        padding: 2rem;
    }
    .totalParcial {
        width: 40rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .quantityMainStore p {
        margin-top: -1rem;
    }
    .quantityMainStore input {
        height: 2.5rem;
    }
}