$smartphone: 480px;
$tablets: 728px;
$desktop: 1024px;
$desktop2: 1294px;
@media screen and (max-width: $tablets) {
    .section1MainStore {
        flex-direction: column;
        justify-content: space-around;
    }
    .sect1MainStore {
        flex-direction: column;
        width: 100%;
        height: 25rem;
        padding: 1.5rem;
    }
    .div2MainStore {
        margin-right: 0;
    }
    .quantityMainStore p {
        margin-top: -1rem;
    }
    .quantityMainStore input {
        height: 2.5rem;
    }
    .patrocinador {
        margin: 3rem 5rem 0;
    }
    .patrocinador p {
        margin-right: 4rem;
    }
    .calculoMainStore {
        margin: 0 1rem 0;
    }
    .totalParcial {
        width: 100%;
    }
    .totalParcial button {
        width: 21rem;
    }
}

@media screen and (max-width: $desktop) and (min-width: $tablets) {
    .section1MainStore {
        flex-direction: column;
        justify-content: space-around;
    }
    .sect1MainStore {
        width: 100%;
        height: auto;
        padding: 1.5rem;
    }
    .totalParcial {
        width: 100%;
    }
    .totalParcial button {
        width: 21rem;
    }
}

@media screen and (max-width: $desktop2) and (min-width: $desktop) {
    .sect1MainStore {
        margin-right: 3rem;
    }
    .totalParcial button {
        width: 18rem;
    }
}