<header class="headerStore">
  <section class="containHeaderStore">
  <section class="containLogoStore">
      <div class="logoStore"></div>
  </section>

  <section class="section2Header">
      <div class="countryHeader">
          <img src="/assets/img/usa.png" alt="">
          <p>Estados <br> Unidos</p>
      </div>

      <div class="cartHeader">
          <img src="/assets/img/iconscart.png" alt="">
      </div>

      <div class="langHeader">
              <p>ES</p>
              <img src="/assets/img/iconsdown.png" alt="">
      </div>
  </section>
</section>
</header>
