// Variables 
$smartphone: 480px;
$tablets: 728px;
$desktop: 1024;
@media screen and (max-width: $smartphone) {
    .countryHeader {
        display: none;
    }
    .cartHeader {
        width: 4rem;
        height: 4rem;
        margin-top: 0.5rem;
        margin-right: -150px;
    }
    .cartHeader img {
        width: 2.2rem;
        height: 2.2rem;
    }
}

@media screen and (max-width: $tablets) and (min-width: $smartphone) {
    .section2Header {
        width: auto;
    }
    .containHeaderStore {
        width: 90%;
    }
}