<app-header></app-header>

<main>
  <section id="Seccion1" class="containSection1">
    <h3>PRUNEX</h3>
    <p>
      Té herbal a base de mix de fibras solubles y extracto de guindón,
      los cuales representan una alternativa eficaz en casos de molestias por tránsito intestinal lento
    </p>
    <div class="containerImgPrunex">
      <div class="imgPrunex1"></div>
    </div>
    <a
     (click)="addPrunexToCart()"
      routerLink="/store"
      data-content="store"
      data-type="external"
      rel="noopener"
    >
      <button class="buttonHome">Comprar Ahora</button>
    </a>
    <!-- <span class="spanPrecio">$̶45̶.̶0̶0̶ &nbsp;</span> -->
  </section>



  <section class="section3">
    <div class="containerSect3">
      <div class="imgSect3"></div>

      <div class="containParagrafSect3">
        <h3>Prunex 1</h3>
        <p>
          Fusión Nutracéutica: Mix de Fibras (Psylium, Inulina de achicoria, Mucílago de Linaza) Kelp,
           Anís Estrella, Extracto de Guindones.
        </p>

        <p>
          Bebida frutal en base a mix de fibras solubles y extracto de guindones, los cuales representan una alternativa eficaz en casos de estreñimiento, promoviendo la desintoxicación del colon.

        </p>
        <p> ​

          Esta fusión te ayudará a:
        </p>

        <ul>
          <li>
            Estimular la actividad del colon gracias a su efecto laxante.
          </li>

          <li>
            Tener un adecuado tránsito intestinal y así evitar la indigestión luego de comidas muy pesadas o abundantes.
          </li>
        </ul>

        <div class="buttonSect3">
          <!-- <span class="spanPrecio">$̶8̶5̶.̶0̶0̶ &nbsp;</span> -->

          <a
            routerLink="/store"
            data-content="store"
            data-type="external"
            rel="noopener"
          >
            <button class="buttonHome">Lo quiero</button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- AQUI EMPIEZA LA CUARTA SECCION   AQUI EMPIEZA LA CUARTA SECCION  -->

  <section id="seccion4" class="section4">
    <h3>PRUNEX 1</h3>
    <div class="containSect4">
      <div class="containerVideo">
        <h4>¿Cómo puede Ayudar a Mejorar  mi Digestión?</h4>
        <div class="containerVideo1">
          <iframe
            frameborder="0"
            src="/assets/video/prunex.mp4"
          ></iframe>
        </div>
      </div>
    </div>
  </section>

  <!-- AQUI EMPIEZA LA QUINTA SECCION   AQUI EMPIEZA LA QUINTA SECCION  -->

  <section id="seccion5" class="section5">
    <div class="container1Sect5">
      <div class="logoSect5"></div>
      <p>
        Nuestros productos cuentan con formulaciones únicas, combinadas
        magistralmente para lograr un efecto multiplicador de beneficios en tu
        organismo. Este es el resultado de años de investigación científica y
        millones de dólares de inversión en el desarrollo de patentes propias e
        internacionales.
      </p>
    </div>
    <div class="container2Sect5">
      <video
        autoplay
        src="/assets/video/adn.mp4"
      ></video>
    </div>
  </section>

  <!-- AQUI EMPIEZA LA SEXTA SECCION   AQUI EMPIEZA LA SEXTA SECCION  -->

  <section class="section6">
    <div class="containSect6">
      <h1>¿Qué es la Epigenética?</h1>

      <iframe
        src="https://player.vimeo.com/video/385357430?title=0&amp;app_id=122963"
        frameborder="0"
        allow="autoplay; fullscreen"
        allowfullscreen=""
        title="El futuro imposiblemente posible de la medicina ha llegado. -Jeffrey Hendricks"
        data-ready="true"
      ></iframe>
    </div>
  </section>

</main>

<app-footer></app-footer>
