.primary-color{
  color:rgb(85,14,155);
  background-color: rgb(128, 21, 232);
}

.containSection1, .section4{
  h3{
    color:rgb(85,14,155);
  }
}

.buttonHome{
  background-color: rgb(128, 21, 232);
}

.imgPrunex1 {
  background-image: url(/assets/img/prunex.webp);
  width: 41.2rem;
  height: 40.6rem;
  background-repeat: no-repeat;
  background-size: contain;
}


.imgSect3 {
  background-image: url(/assets/img/prunex2.webp);
  width: 40rem;
  height: 34.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.containerVideo{
  height: auto;
  width: 100%;
  margin: 0;
  @media screen and (min-width: 320px) and (max-width: 425px){
    height: 40rem;
    margin-top: -7rem;
  }

  .containerVideo1{
    height: 40rem;
    width: auto;
    @media screen and (min-width: 320px) and (max-width: 425px){
      height: auto;
      width: auto;
    }
  }
}
