$smartphone: 480px;
$tablets: 800px;
#paypal-container {
    margin-top: 2rem;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: $tablets) {
    .patrocinador2 {
        margin-left: 5rem;
    }
    .patrocinador2 p {
        margin-right: 2rem;
    }
    .section1MainStore {
        flex-direction: column;
        justify-content: space-around;
    }
    .sect1-5MainStore {
        width: 100%;
        height: auto;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: $tablets) {
    .sect1-5MainStore {
        width: 100%;
        height: auto;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}