<app-header></app-header>

<main>
  <section id="Seccion1" class="containSection1">
    <h3>VERA+</h3>
    <p>
      Delicioso té de menta con Aloe Vera (sábila) y enriquecido con las
      fórmulas patentadas Wellmune WGP, OliActive y BioFerrín, creado por FuXion
      para reforzar tu sistema inmunológico, proteger el sistema respiratorio y
      prevenir alergias.
    </p>
    <div class="containerImgVera1">
      <div class="imgVera1"></div>
      <div class="imgFacts"></div>
    </div>
    <a
      routerLink="/store"
      target="_blank"
      data-content="store"
      data-type="external"
      rel="noopener"
    >
      <button class="buttonHome">Comprar Ahora | $55.00</button>
    </a>
    <span class="spanPrecio">$̶8̶5̶.̶0̶0̶ &nbsp;</span>
  </section>

  <!-- AQUI EMPIEZA LA SEGUNDA SECCION   AQUI EMPIEZA LA SEGUNDA SECCION  -->

  <section class="section2">
    <div class="containerSect2">
      <div class="item1Sect2">
        <div class="sect2Img1"></div>
        <h3>Cristian Caballero</h3>
        <span>★★★★★</span>
        <p>
          Sin duda, un gran producto que recomiendo mucho, en especial aquellos
          que desean prevenir enfermedades en temporada de Invierno.
        </p>
      </div>

      <div class="item1Sect2">
        <div class="sect2Img2"></div>
        <h3>Milena Perez</h3>
        <span>★★★★★</span>
        <p>
          Me ayudó mucho a mejorar mi estabilidad inmunológica, súper
          recomendado.
        </p>
      </div>

      <div class="item1Sect2">
        <div class="sect2Img3"></div>
        <h3>Weston Florida</h3>
        <span>★★★★★</span>
        <p>
          Desde que lo empecé a consumir me ha ayudado a reducir esas alergias
          constantes que tenía. ¡Lo recomiendo muchooo!
        </p>
      </div>

      <div class="item1Sect2">
        <div class="sect2Img4"></div>
        <h3>Bruno Buscaglia</h3>
        <span>★★★★★</span>
        <p>
          Enriquecer el sistema inmunológico es un gran beneficio que me ayuda a
          seguir trabajando sin preocuparme por enfermar. ¡Gracias!
        </p>
      </div>

      <div class="item1Sect2">
        <div class="sect2Img5"></div>
        <h3>Angie Roldan</h3>
        <span>★★★★★</span>
        <p>
          Adoro este producto, lo vengo consumiendo desde hace varios meses y de
          verdad me ayudado mucho a fortalecer mi sistema inmune.
        </p>
      </div>
    </div>
  </section>

  <!-- AQUI EMPIEZA LA TERCERA SECCION   AQUI EMPIEZA LA TERCERA SECCION  -->

  <section class="section3">
    <div class="containerSect3">
      <div class="imgSect3"></div>

      <div class="containParagrafSect3">
        <h3>VERA+</h3>
        <p>
          Fusión Nutracéutica: Extracto de Aloe Vera (sábila) + Wellmune WGP
          (betaglucanos) + Amalaki + Extracto de Hojas de Oliva (Oliactive) +
          Vitamina C + Mix de Aminoácidos (L-Cisteína, Glicina, L-Glutamina) +
          BioFerrín
        </p>
        <br />

        <p>
          Combinación herbal que fortalece la inmunidad general y complementa la
          nutrición para reforzar la salud. Su fórmula enriquecida con Wellmune,
          te ayudará a:
        </p>

        <ul>
          <li>
            Aumentar la resistencia a las enfermedades, principalmente las
            respiratorias estacionales como alergias, gripe, influenza y asma.
          </li>

          <li>
            Reducir la viscosidad de las secreciones bronquiales, facilitando su
            eliminación.
          </li>

          <li>
            Elevar el poder antioxidante de las células del sistema
            respiratorio.
          </li>
        </ul>

        <div class="buttonSect3">
          <span class="spanPrecio">$̶8̶5̶.̶0̶0̶ &nbsp;</span>

          <a
            routerLink="/store"
            target="_blank"
            data-content="store"
            data-type="external"
            rel="noopener"
          >
            <button class="buttonHome">Comprar Ahora | $55.00</button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- AQUI EMPIEZA LA CUARTA SECCION   AQUI EMPIEZA LA CUARTA SECCION  -->

  <section id="seccion4" class="section4">
    <h3>VERA+</h3>
    <div class="containSect4">
      <div class="containerVideo">
        <h4>¿Cómo puede Ayudar a Mejorar mi Resistencia a las enfermedades?</h4>
        <div class="containerVideo1">
          <iframe
            frameborder="0"
            src="https://video.wixstatic.com/video/01c499_661d555570734ebebd76aea3b3d71d62/360p/mp4/file.mp4"
          ></iframe>
        </div>
      </div>
      <div class="imgSect4"></div>
    </div>
  </section>

  <!-- AQUI EMPIEZA LA QUINTA SECCION   AQUI EMPIEZA LA QUINTA SECCION  -->

  <section id="seccion5" class="section5">
    <div class="container1Sect5">
      <div class="logoSect5"></div>
      <p>
        Nuestros productos cuentan con formulaciones únicas, combinadas
        magistralmente para lograr un efecto multiplicador de beneficios en tu
        organismo. Este es el resultado de años de investigación científica y
        millones de dólares de inversión en el desarrollo de patentes propias e
        internacionales.
      </p>
    </div>
    <div class="container2Sect5">
      <video
        autoplay
        src="https://video.wixstatic.com/video/01c499_a9d00a7c7a214c949947bf61f06be3a7/720p/mp4/file.mp4"
      ></video>
    </div>
  </section>

  <!-- AQUI EMPIEZA LA SEXTA SECCION   AQUI EMPIEZA LA SEXTA SECCION  -->

  <section class="section6">
    <div class="containSect6">
      <h1>¿Qué es la Epigenética?</h1>

      <iframe
        src="https://player.vimeo.com/video/385357430?title=0&amp;app_id=122963"
        frameborder="0"
        allow="autoplay; fullscreen"
        allowfullscreen=""
        title="El futuro imposiblemente posible de la medicina ha llegado. -Jeffrey Hendricks"
        data-ready="true"
      ></iframe>
    </div>
  </section>

  <!--  AQUI EMPIEZA LA ULTIMA SECCION DEL MAIN  --AQUI EMPIEZA LA ULTIMA SECCION DEL MAIN -SE REPITE CODIGO DE SECCION 3   -->

  <section class="section3">
    <div class="containerSect3">
      <div class="imgSect3"></div>

      <div class="containParagrafSect3">
        <h3>VERA+</h3>
        <p>
          Fusión Nutracéutica: Extracto de Aloe Vera (sábila) + Wellmune WGP
          (betaglucanos) + Amalaki + Extracto de Hojas de Oliva (Oliactive) +
          Vitamina C + Mix de Aminoácidos (L-Cisteína, Glicina, L-Glutamina) +
          BioFerrín
        </p>
        <br />

        <p>
          Combinación herbal que fortalece la inmunidad general y complementa la
          nutrición para reforzar la salud. Su fórmula enriquecida con Wellmune,
          te ayudará a:
        </p>

        <ul>
          <li>
            Aumentar la resistencia a las enfermedades, principalmente las
            respiratorias estacionales como alergias, gripe, influenza y asma.
          </li>

          <li>
            Reducir la viscosidad de las secreciones bronquiales, facilitando su
            eliminación.
          </li>

          <li>
            Elevar el poder antioxidante de las células del sistema
            respiratorio.
          </li>
        </ul>

        <div class="buttonSect3">
          <span class="spanPrecio">$̶8̶5̶.̶0̶0̶ &nbsp;</span>

          <a
            routerLink="/store"
            target="_blank"
            data-content="store"
            data-type="external"
            rel="noopener"
          >
            <button class="buttonHome">Comprar Ahora | $55.00</button>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
